<p id="notice"><%= notice %></p>

<div>
    <% if session[:licensee_id].present? %>
      <%= link_to "Edit Student Detail", class_details_path %>
    <% else %>
      <% nil %>
    <% end %>
</div>

<h4>Announcements</h4>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
        </tr>
    </thead>
    
    <tbody>
        <% @announcements.each do |announcement| %>
        <tr>
            <td><%= announcement.title %></td>
            <td><%= announcement.content %></td>
        </tr>
        <% end %>
    </tbody>
</table>

    

